services:
  data_manager:
    build: ./data-manager
    container_name: data_manager
    ports:
      - 5500:5500
    depends_on:
      - database
  database:
    image: postgres
    restart: always
    shm_size: "256mb"
    environment:
      POSTGRES_USER: ${POSTGRES_DB_USER}
      POSTGRES_PASSWORD: ${POSTGRES_DB_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB_NAME}
    ports:
      - 5432:5432
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    depends_on:
      - database
