services:
  gateway:
    build: ./gateway
    container_name: gateway
    ports:
      - ${GATEWAY_PORT}:8080
    environment:
      DataManager__Address: http://data_manager:5500
    depends_on:
      - data_manager

  data_manager:
    build: ./data-manager
    container_name: data_manager
    ports:
      - ${DATA_MANAGER_PORT}:5500
    environment:
      DB_CONNECTION_STRING: host=database user=${POSTGRES_DB_USER} password=${POSTGRES_DB_PASSWORD} dbname=${POSTGRES_DB_NAME} port=5432 sslmode=disable
      PORT: 5500
      HOST: 0.0.0.0
      BROKER: mqtt:1883
      CLIENT_ID: ${DATA_MANAGER_CLIENT_ID}
      TOPIC: ${DATA_MANAGER_TOPIC}
    depends_on:
      - database

  sensor_generator:
    build: ./sensor-generator
    container_name: sensor_generator
    ports:
      - ${SENSOR_GENERATOR_PORT}:8082
    environment:
      Gateway__Address: http://gateway:8080
      Gateway__BatchSize: ${SENSOR_GENERATOR_BATCH_SIZE}
      Gateway__Endpoint: ${SENSOR_GENERATOR_ENDPOINT}
      Gateway__BatchTimeout: ${SENSOR_GENERATOR_BATCH_TIMEOUT}
    depends_on:
      - gateway

  database:
    image: postgres
    restart: always
    shm_size: "256mb"
    environment:
      POSTGRES_USER: ${POSTGRES_DB_USER}
      POSTGRES_PASSWORD: ${POSTGRES_DB_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB_NAME}
    ports:
      - 5432:5432

  adminer:
    image: adminer
    restart: always
    ports:
      - 9000:8080
    depends_on:
      - database

  mqtt:
    image: eclipse-mosquitto
    container_name: mqtt
    ports:
      - 1883:1883
      - 9001:9001
    volumes:
      - ./mqtt/config:/mosquitto/config:rw
      - ./mqtt/data:/mosquitto/data:rw
      - ./mqtt/log:/mosquitto/log:rw
    restart: unless-stopped

  event_manager:
    build: ./event-manager
    container_name: event_manager
    ports:
      - ${EVENT_MANAGER_PORT}:5500
    environment:
      HOST: 0.0.0.0
      PORT: ${EVENT_MANAGER_PORT}
      BROKER: mqtt:1883
      CLIENT_ID: ${EVENT_MANAGER_CLIENT_ID}
      RECV_TOPIC: ${DATA_MANAGER_TOPIC}
      SEND_TOPIC: ${EVENT_MANAGER_TOPIC}
      USED_THRESHOLD: ${EVENT_MANAGER_USED_THRESHOLD}
      GEN_THRESHOLD: ${EVENT_MANAGER_GEN_THRESHOLD}
    depends_on:
      - mqtt

  mqtt_client:
    build: ./mqtt-client
    container_name: mqtt_client
    ports:
      - ${MQTT_CLIENT_PORT}:5500
    environment:
      HOST: 0.0.0.0
      PORT: ${MQTT_CLIENT_PORT}
      BROKER: mqtt:1883
      CLIENT_ID: ${MQTT_CLIENT_CLIENT_ID}
      TOPIC: ${EVENT_MANAGER_TOPIC}
    depends_on:
      - mqtt
