services:
  gateway:
    build: ./gateway
    container_name: gateway
    ports:
      - ${GATEWAY_PORT}:8080
    environment:
      DataManager__Address: http://data_manager:8080
    depends_on:
      - data_manager

  data_manager:
    build: ./data-manager
    container_name: data_manager
    ports:
      - ${DATA_MANAGER_PORT}:5500
    environment:
      DB_CONNECTION_STRING: host=database user=${POSTGRES_DB_USER} password=${POSTGRES_DB_PASSWORD} dbname=${POSTGRES_DB_NAME} port=5432 sslmode=disable
      MQTT_BROKER: mqtt:1883
      MQTT_CLIENT_ID: data-manager
      MQTT_TOPIC: datamanager-readings
    depends_on:
      - database

  sensor_generator:
    build: ./sensor-generator
    container_name: sensor_generator
    ports:
      - ${SENSOR_GENERATOR_PORT}:8082
    environment:
      Gateway__Address: http://gateway:8080/SensorReading/stream
      Gateway__BatchSize: 5
      Gateway__BatchTimeout: 2
    depends_on:
      - gateway

  database:
    image: postgres
    restart: always
    shm_size: "256mb"
    environment:
      POSTGRES_USER: ${POSTGRES_DB_USER}
      POSTGRES_PASSWORD: ${POSTGRES_DB_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB_NAME}
    ports:
      - 5432:5432

  adminer:
    image: adminer
    restart: always
    ports:
      - 9000:8080
    depends_on:
      - database

  mqtt:
    image: eclipse-mosquitto
    container_name: mqtt
    ports:
      - 1883:1883
      - 9001:9001
    volumes:
      - ./mqtt/config:/mosquitto/config:rw
      - ./mqtt/data:/mosquitto/data:rw
      - ./mqtt/log:/mosquitto/log:rw
    restart: unless-stopped

  event_manager:
    build: ./event-manager
    container_name: event_manager
    ports:
      - ${EVENT_MANAGER_PORT}:5500
    environment:
      MQTT_BROKER: mqtt:1883
      MQTT_CLIENT_ID: event-manager
      MQTT_RECEIVE_TOPIC: datamanager-readings
      MQTT_PUBLISH_TOPIC: eventmanager-anomalies
      USED_THRESHOLD: 0.8
      GEN_THRESHOLD: 0.5
    depends_on:
      - mqtt

  mqtt_nats_client:
    build: ./mqtt-nats-client
    container_name: mqtt_nats_client
    ports:
      - ${MQTT_CLIENT_PORT}:5500
    environment:
      MQTT_BROKER: mqtt:1883
      MQTT_CLIENT_ID: mqtt-nats-client
      MQTT_TOPIC: eventmanager-anomalies
      NATS_BROKER: nats://nats:6222
      NATS_SUBJECT: ml-model-subject
    depends_on:
      - mqtt

  analytics:
    build: ./analytics
    container_name: analytics
    ports:
      - ${ANALYTICS_PORT}:5500
    environment:
      MQTT_BROKER: mqtt:1883
      MQTT_CLIENT_ID: analytics
      MQTT_TOPIC: datamanager-readings
      MLAAS_URL: http://mlaas:8080
      NATS_BROKER: nats://nats:6222
      NATS_SUBJECT: ml-model-subject
    depends_on:
      - mqtt
      - nats

  mlaas:
    build: ./mlaas
    container_name: mlaas
    ports:
      - ${MLAAS_PORT}:8080

  nats:
    image: nats
    ports:
      - "8222:8222"
    command: "--cluster_name NATS --cluster nats://0.0.0.0:6222 --http_port 8222 "
